h1 {
  color: #2196f3;
}

.test {
  color: red;
}

// .btnBottom {
//     display: flex;
// }
.field {
  margin: 10px 25px;
}
.btnLogin {
  margin: 40px 20px !important;
  width: 90%;
}
.bodylogin {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // position: relative;
  z-index: 1;
  // background-image: url(../../asset/login_backgroud.jpg);
  background-color: #ffffff;
  // opacity: 0.4;
}

// .bodylogin::before {
//   background-image: url(../../asset/login_backgroud.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   content: "";
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -2;
//   opacity: 0.4;
//   }
.container {
  text-align: center;
  min-height: 100vh;
  // width: 100%;
  // background: #0250c5;
  // background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
  // background: -o-linear-gradient(bottom, #0250c5, #d43f8d);
  // background: -moz-linear-gradient(bottom, #0250c5, #d43f8d);
  // background: linear-gradient(bottom, #0250c5, #d43f8d);
  position: relative;
  z-index: 1;
}
.form-container {
  position: relative;
  top: 70px;
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  // padding: 40px 10px 0px 10px;
  background: #fff;
  // box-shadow: 2px 5px 10px 2px #d4d4d4;
  // background: -webkit-linear-gradient(top, #737373, #252525);
  // background: -o-linear-gradient(top, #737373, #252525);
  // background: -moz-linear-gradient(top, #737373, #252525);
  // background: linear-gradient(top, #737373, #252525);
  margin: auto;
}
.form {
  width: 100%;
}
.form-header {
  margin-left: 20px;
  margin-bottom: 20px;
  img {
    width: 135px;
  }
  h4 {
    color: #8f0a0c;
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
    margin-top: 20px;
  }
}
.forget-password {
  text-align: right;
  margin-top: 15px;
  a {
    color: #8f0a0c;
  }
}
.footer-login {
  bottom: 12px;
  text-align: center;
  position: absolute;
  width: 50%;
  span,
  a {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.54);
    padding-right: 30px;
  }
}
.rightBox {
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  .decription {
    width: 50%;
    position: fixed;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 50px;
    background: linear-gradient(
      180deg,
      rgba(255, 179, 179, 0) 0%,
      #890000 50.04%
    );
    opacity: 0.8;
    h2 {
      font-size: 26px;
      font-weight: 600;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  .decription::before {
    left: 0;
    right: 0;
    width: 420px;
    bottom: 140px;
    height: 2px;
    margin: 0 auto;
    content: '';
    position: absolute;
    background: #fff;
  }
}
.rightBox::before {
  background-image: url('../../asset/background-login.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  // opacity: 0.4;
}
