$color2: #35a541;
$color1: #5271c2;
$color3: #bdb235;
$color4: #db6623;
$color5: #3e5eb3;
$color6: #aa9e5c;

.card {
  display: block;
  // float: left;
  // position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  // margin: 0 5px 10px;
  perspective: 1000;
  // box-shadow: 1px 1px 5px 0px #88888826;
  border-radius: 0;
  cursor: pointer;
  .card__front {
    // box-shadow: 1px 1px 5px 0px #88888826;
    // background-color: #fff;
    height: 0;
    // padding-bottom: 117%;
  }
  .active {
    color: $color1;
    // border: 1px solid $color1;
  }
  .deactive {
    color: $color4;
    // border: 1px solid $color4;
  }
  .card__num {
  }
  &__flipper {
    cursor: pointer;
    transform-style: preserve-3d;
  }

  &__front,
  &__back {
    // position: absolute;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    // height: 200px;
  }

  &__front {
    transform: rotateY(0);
    z-index: 2;
    overflow: hidden;
    height: 0;
    padding-bottom: 70%;
  }

  &__back {
    transform: rotateY(180deg) scale(1.1);
    background: lighten(black, 8);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(black, 0.3);

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__header {
    height: 0;
    padding: 18% 0;
    span {
      font-size: 0.95rem;
      line-height: 1.43;
      font-weight: 500;
    }
  }

  &__body {
    font-size: 14px;
    margin: 0 8px 0 0;
    font-weight: 500;
    // height: 0;
    // padding-bottom: 70%;
  }
  &__body_sthb {
    margin: 0 8px 0 0;
    font-weight: 500;
  }
  &__content {
    display: grid;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    // padding: 0;
  }
  .action-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .low-power-text {
    color: red;
  }
  .power-dot {
    height: 38px;
    display: flex;
    padding-left: 10px;
  }
  .center {
    display: flex;
    justify-content: center;
  }
  .power-icon {
    width: 20px;
    margin: 5px;
  }
}
