.dialog-filter-gateway {
  padding: 10px 15px;
}
.container {
  padding: 0 !important;
  min-width: 450px !important;
}
.full-width-text {
  padding: 15px;
  width: 100% !important;
}
.button-approve {
  background-color: #2196f3 !important;
  color: #fff;
}
.filter-title {
  color: #8f0a0c;
  margin-bottom: 20px;
}
.label-popper-item {
  background-color: #fff;
  color: #03294A;
  font-size: 20px;
  font-weight: 600;
  top: -5px;
}
.btn-filter-popper{
  width: 48%; 
}
